
    body {
      font-family: cursive , sans-serif;
      background-color: #eee6e6;
      margin: 0;
      padding: 0;
      color: #0c0909;
    }

    header {
      background-color: #92969b;
      color: #fff;
      text-align: center;
      padding: 9px;
    }

    h1 {
      margin: 0;
      font-size: 35px;
    }

    h2{
      font-size: 2rem;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75;
      background-color: #e3dede;
    }

    .form-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      font-size: 18px;
    }

    input[type="file"],
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
    }

    button:hover {
      background-color: #555;
    }
  
    